
html {

    box-sizing: border-box; 
  
}


html {

    font-family: sans-serif;
    background-color: gray; 
    font-size: 18px;
  
}

body {

    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
   
}


*, *:before, *:after {

    box-sizing: inherit;
  
}

.column {

    float: left;
    width: 50%;
    margin-bottom: 25px;     
    padding: 0px 8px;    border: 1px solid blue; 
    
}


/***** media *****/
@media screen and (max-width: 375px) {

  .column {
  
     width: 100%;
     display: block;
    
  }    
  
}

@media screen and (min-width: 740px) {

  .column {
  
     width: 33.3%;
     display: block; 
    
  }        
  
}

@media screen and (min-width: 1000px) {

  .column {
  
     width: 25%;
     display: block;
    
  }        
  
}

@media screen and (min-width: 376px) {

  .box {
		
	 margin: auto;
	 max-width: 100%;
	 height: calc(28vw);           
	 overflow: hidden;			 border: 1px solid red;
	 
  }

} 

@media screen and (min-width: 740px) {

  .box {

	 margin: auto;
	 max-width: 100%;
	 height: calc(20vw);           
	 overflow: hidden;	 border: 1px solid red;
	
  }

} 



@media screen and (min-width: 1000px) {

  .box {	
	
	 margin: auto;
	 max-width: 100%;
	 height: calc(15vw);           
	 overflow: hidden;	border: 1px solid red;
	                            
  }        

}

@media screen and (min-width: 1200px) {

  .box {
	
	 margin: auto;
	 max-width: 100%;
	 height: calc(14vw);           
	 overflow: hidden;         border: 1px solid red;
	
  }        

}
/***************************************/

.container {

    padding: 0 16px;  
    border: 1px solid #fff; 
    
}

.container::after, .row::after {

    content: "";
    clear: both; 
    display: table; 
   
}


header {

    background: url("../img/header.png") no-repeat center;                                    
    background-size: cover;  
    height: 200px;  
                 
}

article.page {

    padding: 15px;  
    min-height: calc(100%);  border: 1px solid green;
    margin: 0px;         
    
}

/*
article.projects {

	 border: 2px solid cyan;
	 margin: 2px 0px;

}
*/

article.projects {
    
    margin: 10px auto 10px auto; 
    padding: 5px 0px 0px 0px;  
    min-height: calc(100%);
    max-width: 100%;       
    /*background: #e0d5c3;
    border: 1px solid #e0d5c3*/;      border: 2px solid cyan;    
    color: #4d4d4e; 
}

@media screen and (min-width: 764px) {

  article.projects {
  
     max-width: 742px;   
         
  }

}


.intro {
    
    margin: 20px auto 10px auto; 
    padding: 5px 0px 0px 0px;  
    min-height: calc(100%);
    max-width: 100%;       
    /*background: #e0d5c3;
    border: 1px solid #e0d5c3*/;      border: 2px solid yellow;    
    color: #4d4d4e; 
}

@media screen and (min-width: 764px) {

  .intro{
  
     max-width: 742px;   
         
  }

}


      
main {

    height: 100%;
    width: 100%;
    margin: auto; 
   		 
}
 
.title {

    margin: 8px;
    color: grey;
  
}
	  
p {

    line-height: 1.5;
    padding: 0px 10px 0px 10px;	   border: 1px solid red;
    font-size: 1rem;
    color: #4d4d4e; 
}

li > p {

    line-height: 1.1;
    margin: 12px 10px 0px 0px;
    padding: 0px 10px 0px 0px;

}

ul {

	margin-left: 0px; 

}

.container > p {

    padding: 0px 10px 0px 10px;	
    text-align: center;
    margin-top: 8px;
   
}

h1 {
	 
	 font-family: serif; /* FreeMono */
    font-size: 2rem; /* 32px - аналог от 16 */
    margin: 30px 0px 0px 10px;                  border: 1px solid red;
    color: red;
   
}

h2 {

    font-size: 1.5rem; /* 24px - аналог от 16 */
    font-weight: 400;
	 margin: 20px 0px 0px 10px;
	 color: gray;
}


/*************** контент в aside *****************/
.project_presentation {
    
    max-width: 100%;
    position: relative;
    
    
    /*padding: 5px;*/
    /*border: 1px solid rgba(0, 0, 0, 0.04);   */
    
    /*margin: auto;*/
    
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); TODO - установить для окантовки с тенью */
    color: #4d4d4e; 
    overflow: hidden; 
    margin: 25px 10px;
    
}

.project_presentation > p {
    
    
    font-family: sans-serif;
    font-size: 0.85rem;
    padding: 8px 0px; /* padding: 8px 13px; TODO - установить если установлена окантовка с тенью */
    /*font-style: italic;*/  /*border: 1px solid yellow;*/
    /*color: #3e5e8c; */  
    margin: 0px;  
   
}

.presentation-preview {
    
    width: 100%;
    height: auto;
    /*border: 1px solid green; */
    overflow: hidden;
    

}

.presentation-preview > img {

    display: block;
    object-fit: cover;
    object-position: center; 
    height: 100%;
    /*margin: auto;  */
    cursor: pointer;
    transition: 0.2s; 

}

.presentation-preview > img:hover {
    opacity: 0.8;
}

@media screen and (min-width: 640px) {

  .presentation-preview {
      
      width: 50%; 
      float: left;
      
  }
  
  .project_presentation > p {
    
    width: 50%; 
    height: auto;
    float: left;
    padding: 3%;
    text-align: center;
   
  }

}
/************************************/

      
footer {

    height: auto; 
    background: #e2e2e2;
    width: 100%;    
    margin-top: 20px;       
    border: 1px solid #e2e2e2;   border: 1px solid red;
   				
}
			
footer p {

    padding: 10px 15px 15px;
   
}	  

.icon {

    display: none;
    position: fixed;	
	 border-radius: 7px;         
	 top: 20px;
	 right: 30px;	    	
	 z-index: 3;
    color: #fff; /* color: gray; */
    font-size: 40px;
    font-weight: bold;
    transition: 0.2s;
    		      
}
	  
.icon:hover,
.icon:focus { 
        
    text-decoration: none;
    cursor: pointer;
    font-size: 47px;
    top: 17px;  
	 right: 27px; 
	
}


/* Animation for icon */
.icon {
    animation-name: draw;
    animation-duration: 0.6s; 
}

@keyframes draw {
    from {transform:scale(2)} /* 2 или 0 */
    to {transform:scale(1)}
}

.preview-cursor {
    cursor: pointer;
    transition: 0.2s;
}

.preview-cursor:hover {
    opacity: 0.8;
}


/* Animation for gallery*/
.gallery {

    animation-name: appearance;  
    animation-duration: 0.6s; 

}

@keyframes appearance {
                               
    from {transform:scale(0)}
    to {transform:scale(1)}
    
}

.preview-cursor {
    
    cursor: pointer;
    transition: 0.2s;

}

.preview-cursor:hover {
    
    opacity: 0.8;
      
}
/**********************/

	 	 	      
#layer {

    display: none;
	 position: fixed;
    left: 0;
    top: 0;
    right: 0;
	 bottom: 0;		    
	 background: rgba(0, 0, 0, .7); 
	 /*background: rgba(256, 256, 256, .7);  цвет подложки */
	 z-index: 1;	      
	 overflow: auto;
	
	 animation-name: rev;
    animation-duration: 0.6s; 
	
}
	  
.box > img {

    display: block;
    margin: auto;
    max-width: 100%; 
    /*height: 100%;*/
    /*border: 1px solid #666666;*/ 
    /*border: 1px solid #fff;*/
    /*border-left: none;
    border-right: none;*/   
    
    object-fit: cover;
    object-position: center;
    height: 100%;
           
}

picture img {

	 border: 1px solid rgba(0, 0, 0, .4);
	 box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.4);		
	 display: block;
    margin: auto; 
    max-width: 100%; /* 95% */
	
}	
          
.gallery {

    display: none;		    
	 position: absolute;   
	 right: 1px;		  
    left: 1px;
    top: 0px;          	 
    margin: auto; 
    z-index: 2;
    max-width: 100%;            
                                                                            	  
}

/*
@media screen and (orientation: landscape) {
   

  .gallery {
  
    max-width: calc(70%); 
    margin: auto;
  
  }

}

@media screen and (min-width: 720px) {

  .gallery  {
  
    max-width: 720px;   
         
  }

}
*/	

.filterBlurGrayscale {

	 /*filter: blur(2px);*/
	 filter: grayscale(100%); /*меняет цвет на чёрно-белый*/
	
}

#copyright {

	 background: rgba(42, 77, 128, .5);
	 border: 1px solid #a2a2b1;
	
}

#copyright p {

	 padding: 5px;
	 font-size: 13px;
	 text-align: center;
	 color: white;            

}

.copyrightFooter {

	 border: 1px solid red;
	 margin-top: 15px;

}
















.gallery.animation {

    display: none;		    
	 position: relative;   border: 1px solid silver;
	 right: 0px;		  
    left: 0px;
    top: 0px;          	 
     
    z-index: 2;
    max-width: 100%; 
    margin: auto;     
    overflow: hidden;      
                                                                            	  
}



.gallery.animation > img {          

	 box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.4);		
	 display: block;
    margin: auto; 
    max-width: 100%; 
	
}	





/*
.fon {


			 
	  display: block;
    margin: auto; 
    max-width: 100%;  border: 1px solid #090;

}

.marine {

			 
	  display: block;
    margin: auto; 
    max-width: 100%; border: 1px solid #090; 

}
*/

/*
#wrapper {
		    /*margin: 5px auto;
		    border: 5px solid #090;
		    max-width: 100%;
		    /*min-height: 100%;*/
		    /*background: url("fon2.jpg");*/
		    /*background-size: 70%;/*100%
		    position: relative;
		    /*overflow: hidden;/*
		    
		    /*object-fit: cover;
    object-position: center;
    
    	    position: relative; border: 5px solid #090;
	 right: 1px;		  
    left: 1px;
    top: 0px;          	 
    margin: auto; 
    z-index: 2;
    max-width: 100%;  
    
    object-fit: cover;
    object-position: center;
		    
		}*/
		
		
		
	#lighthouse {
		    width: 38%;
		    height: 88%; 
		    background: url(lighthouse.png) no-repeat;	
		    position: absolute;
		    background-size: 100%;	    
		    top: 7%; 
		    right: 10%;
		    
		    z-index: 3;
		}	


								
		#ship {
		    width: 15%;
		    height: 26%;
		    background: url(ship.png) no-repeat;
		    background-size: 100%;
		    position: absolute;
		    left: -200px;
		    top: 50%;		 
		    z-index: 2;  
		  
		    animation-name: s1; 
		    
		    animation-delay: 5s;
		    animation-duration: 30s;
		    animation-iteration-count: infinite;
		    animation-timing-function: linear;		    	    
		}
	
		@keyframes s1 {
		   0% {left: -50px;}
		   100% {left: 1200px;}			   
		}
		
		
	/*
		#steeringwheel {
		    width: 15%;
		    height: 25%;
		    background: url(steering_wheel.png) no-repeat;
		    background-size: 100%;
		    position: absolute;
		    left: 10%;
		    bottom: 15%;		   
		    z-index: 5;
		    		   
		   
		    animation-name: w; 
		    		
		    animation-delay: 3s;
		    animation-duration: 20s;
		    animation-iteration-count: infinite;
		    
		    }
		   
		 @keyframes w {   
		   
		    0% {transform: rotate(0);}
		    30% {transform: rotate(60deg);}
		    15% {transform: rotate(0);}
		    50% {transform: rotate(-60deg);}
		 
		 }
		 */	 
	 
	 
		 /*
		 #clock {
		    width: 60px;
		    height: 60px;
		    background: url(pesok-chasi.png) no-repeat;
		    background-size: 100%;
		    position: absolute;
		    right: 25px;
		    bottom: 10px;		   
		    z-index: 5;
		    		   
		 
		    animation-name: cl; 
		    
		    animation-delay: 4.5s;		    				    
		    animation-duration: 1s;
		    animation-iteration-count: infinite;
		    animation-timing-function: linear;		
		    }
		   
		 @keyframes cl {   
		   
		    
		    
		    0% {transform: rotate(0);}
		    100% {transform: rotate(360deg);}
		    
		 
		 }
		 */
		
		#light {
		   width: 5%;
		   height: 4%;
		   
		   background-size: 100%;
		   background: rgba(237, 120, 50, .9);
		   border-radius: 50% 50%;
		   position: absolute;
		   
		   top: calc(18% + 2px);
		   right: 25%;
		   z-index: 4;
		   margin: auto;
		   
		   animation-name: l; 
		   
		   animation-duration: 4s;
		   animation-iteration-count: infinite;
		   animation-timing-function: linear; 
		}
		
		@keyframes l {
		    90% {opacity: 0;}
		    10% {opacity: 1;}
		  
		    
		 
		}
		
		
		#postlight {
		   width: 10%;
		   height: 7%;   
		   
		   background-size: 100%;
		   background: rgba(255, 240, 0, .6);
		   border-radius: 50% 50%;
		   position: absolute;
		   
		   top: calc(16% + 3px);
		   right: calc(22% + 3px);
		   z-index: 4;
		   margin: auto;
		   
		   animation-name: l; 
		   
		   animation-duration: 4s;
		   animation-iteration-count: infinite;
		   animation-timing-function: linear; 
		}
		
		@keyframes l {
		    90% {opacity: 0;}
		    20% {opacity: 1;}
		  
		   
		}
		
		
		#clouds1 {
		   width: 30%;
		   height: 40%;	   
		   background: url(cloud-gray_256_256.png) no-repeat;
		   background-size: 90%;
		   position: absolute;
		   left: 5%; 
		   top: 5%;
		   z-index: 1;
		   
		   transform: scale(.5, .5);
		   animation-name: c1; 
		   
		   animation-duration: 150s;
		   animation-iteration-count: infinite;
		   animation-timing-function: linear;
		   
		}
		
		@keyframes c1 {
		   0% {left: -100px;}
		   100% {left: 1200px;}
		}
		
		#clouds2 {
		   width: 40%;
		   height: 50%;	   
		   background: url("cloud-gray_256_256.png") no-repeat;
		   background-size: 100%;
		  
		   position: absolute;       
		   left: 0;
		   top: -15%;
		   z-index: 5;
		   opacity: 0.8;
		   
		   transform: scale(.5, .5);
		   animation-name: q2; 
		   
		   animation-duration: 100s;
		   animation-iteration-count: infinite;
		   animation-timing-function: linear;
		   
		}
		
		@keyframes q2 {
		   0% {left: -200px;}
		   100% {left: 1200px;}
		}
		
		
		#clouds3 {
		    width: 30%;
		    height: 40%;
		    background: url("oblako_128_71.png") no-repeat;
		    background-size: 30%;
		    position: absolute;
		    left: 10%;
		    top: 47%;
		    z-index: 1;
		    transform: scale(.8, .8);
		    animation-name: q3;
		    
		    animation-duration: 250s;
		    animation-iteration-count: infinite;
		    animation-timing-function: linear;
		}
		
		@keyframes q3 {
		     0% {left: 20%;}
		   100% {left: 1200px;}
		}
		

@media screen and (min-width: 740px) {

  .gallery.animation {

    max-width: 720px; 
    
  }                                                                          	  

}








